<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>title</key><string>Camera27</string><key>items</key><array>
<dict><key>cell</key><string>PSGroupCell</string><key>label</key><string>Camera27</string><key>footerText</key><string>Restart Camera after changing the master switch.</string></dict>
<dict><key>cell</key><string>PSSwitchCell</string><key>default</key><true/><key>defaults</key><string>com.sanketyadav927.camera27</string><key>key</key><string>Enabled</string><key>label</key><string>Enable Camera27</string><key>PostNotification</key><string>com.sanketyadav927.camera27.prefschanged</string></dict>
<dict><key>cell</key><string>PSSwitchCell</string><key>default</key><true/><key>defaults</key><string>com.sanketyadav927.camera27</string><key>key</key><string>GlassUI</string><key>label</key><string>Enable Glass UI</string><key>PostNotification</key><string>com.sanketyadav927.camera27.prefschanged</string></dict>
<dict><key>cell</key><string>PSSwitchCell</string><key>default</key><true/><key>defaults</key><string>com.sanketyadav927.camera27</string><key>key</key><string>Animations</string><key>label</key><string>Enable Animations</string><key>PostNotification</key><string>com.sanketyadav927.camera27.prefschanged</string></dict>
<dict><key>cell</key><string>PSSwitchCell</string><key>default</key><true/><key>defaults</key><string>com.sanketyadav927.camera27</string><key>key</key><string>Haptics</string><key>label</key><string>Enable Haptics</string><key>PostNotification</key><string>com.sanketyadav927.camera27.prefschanged</string></dict>
</array></dict></plist>
